
 * {
     box-sizing: border-box;
 } 

img {

    max-width: 100%;
}


body {
    margin: 0;
}

.salad {
   background-color: lightgreen;
   height: 300px;
   background-image: url('better solvay photo.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
   text-align: center;
   border-bottom: 3px double tan;
   

}



.olive {
    margin-top: 0;
    font-family: 'Permanent Marker', serif;
    font-size: 30px;
    color: black;
    
       
}
.oil {

    color: black;
    font-size: 1.750rem;
    font-weight: bold;
    background-color: white;
}
.tomato {
    font-family: 'Permanent Marker', serif;
    font-size: 30px;
    color: white;
}






   

.squash {
    font-family: 'Permanent Marker', serif;
    font-size: 22px;
    color: black;

}

.fork {
  padding-left: 3em;

}
.morningstar {
    font-family: 'Permanent Marker', serif;
    font-size: 22px;
    color: black;
}
.custer {
    background-color: yellow;
    text-align: center;
}
.sherman {
    background-color: lightgreen;
}
.grant {
    background-color: lightpink;
    text-align: center;
}


.steak {
    
    padding-left: 1 em;
    padding-right: 1 em;
    

}
.instrument {
    display: inline-block;
    width: 50%;
    margin-right: -3.5px;
    
}

.dessert {
    background-color: lightgray;
    border-top: 3px double black;
}

  /*   media queries    */
  @media (min-width: 768px)  {

     
     .wrap {
          min-height: calc(100vh-71px);
      }
      .steak {
          width:80%;
          margin: 0 auto;
          max-width: 1100px;

     
          
          
      }
     

      }

  }